* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.container {
  width: 65%;
  height: auto;
  background-color: #F1F1F1;
  margin: 20px auto 0;
  padding: 30px; }
  .container .btn {
    margin: 0 auto;
    border: none; }
    .container .btn input {
      background-color: #f2b456;
      width: 90%;
      padding: 10px;
      height: auto;
      font-size: 20px; }
  .container .welcome {
    text-align: center;
    color: #f2b456;
    font-weight: bolder; }
  .container #rowID {
    margin: 0 auto;
    width: 70%; }
    .container #rowID .btn {
      width: 80%; }
  .container .error {
    color: red;
    font-weight: bold; }
  .container .panel-img {
    height: 50px;
    width: 50px; }
  .container .nav li {
    padding-left: 50px; }
