//variables
$orangeColor: #f2b456;
$containerColor: #F1F1F1;

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  width: 65%;
  height: auto;
  background-color: $containerColor;
  margin: 20px auto 0;
  padding: 30px;

  .btn {
    margin: 0 auto;
    border: none;

    input {
      background-color: $orangeColor;
      width: 90%;
      padding: 10px;
      height: auto;
      font-size: 20px;
    }
  }
  .welcome{
    text-align: center;
    color: $orangeColor;
    font-weight: bolder;
  }
  #rowID{
    margin:0 auto;width:70%;
    .btn{
      width: 80%;
    }
  }
  .error{
    color: red;
    font-weight: bold;
  }
  .panel-img{
    height: 50px;
    width: 50px;
  }
  .nav{
    li{
        padding-left: 50px;
    }
  }
}
