$browncolor:rgb(128, 64, 30);
.input-group-btn:last-child >
  .btn, .btn-group{
    height: 34px;}

    h1{
        font-family: Bradley Hand, cursive;
    }
    h3{
        font-family: OCR A Std, monospace;
    }
    .navbar-inverse{
        background-color:$browncolor;
        border-color:$browncolor;
    }
    hr{
        border-top: 2px solid $browncolor;
    }