.input-group-btn:last-child >
.btn, .btn-group {
  height: 34px; }

h1 {
  font-family: Bradley Hand, cursive; }

h3 {
  font-family: OCR A Std, monospace; }

.navbar-inverse {
  background-color: #80401e;
  border-color: #80401e; }

hr {
  border-top: 2px solid #80401e; }

/*# sourceMappingURL=style.css.map */
